@import '../abstract/variaveis';
@import '../abstract/base';


nav {
    text-align: center;
    ul {
        li {
            display: inline-block;
            padding: 1rem;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: $cor-primaria;
                position: relative;
                &::after {
                    content: " ";
                    width: 0% ;
                    background: $cor-primaria;
                    height: 2px;
                    position: absolute;
                    bottom: -5px;
                    left: 0px;
                    transition: 1s ease-out;
                }
                &:hover::after {
                    width: 100%;
                }
            }
           
        }
    }
}

