@import '../abstract/variaveis';


#pedra-flor {
    text-align: center;
    padding-top: 2rem;
    .img-container {
        margin-bottom: 1.25rem;
        img {
            width: 40%;
        }
    }
    .texto {
        h3 {
            font-size: $tamanho-do-texto / 1.5;
            color: $cor-secundaria;
            font-weight: 300;
        }
        h4 {
            font-size: $tamanho-do-texto / 2;
            color: $cor-primaria;
            font-weight: 300;
            margin-bottom: 1rem;
            letter-spacing: .3rem;
        }
        p {
            font-size: $tamanho-do-texto / 3;
            color: $cor-primaria;
            font-weight: 300;
        }
    }
}